@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

.main {
    /* height: 100vh;
    border: 3px;
    box-sizing: border-box; */
}

h1.title {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: rgb(46, 188, 244);
}

h1.title:hover {
    cursor: default;
}
  
@media only screen and (max-width: 500px) {
    h1.title {
        font-size: 56px;
    }
}