@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.main {
    /* height: 100vh;
    border: 3px;
    box-sizing: border-box; */
}

.main .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}