div.next {
    width: 150px;
    height: 150px;
}

div.next img {
    max-width: 125px;
}

div.leading {
    width: 200px;
    height: 200px;
}

div.leading img {
    max-width: 175px;
}

div.box {
    border: 4px solid cornflowerblue;
    margin: 5px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

div.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}